.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

Sources/RadixEngineToolkit/RadixEngineToolkit.xcframework/macos-arm64_x86_64/libradix_engine_toolkit.a
Sources/RadixEngineToolkit/RadixEngineToolkit.xcframework/ios-arm64/libradix_engine_toolkit.a
Sources/RadixEngineToolkit/RadixEngineToolkit.xcframework/ios-arm64-simulator/libradix_engine_toolkit.a