name: "CI"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:

  unit_tests:
    name: "Unit tests"
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v3.1.0

      - uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: |
            ${{ secrets.BITE_UNIT_TESTS_SSH_KEY }}
            ${{ secrets.SLIP_10_UNIT_TESTS_SSH_KEY }}
            ${{ secrets.MNEMONIC_UNIT_TESTS_SSH_KEY }}

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.0.1"

      - name: "Run unit tests"
        run: |
          swift test -Xswiftc -O